<h2><%= t('.titulo') %></h2>
<table>
  <%= render(carrinho.linha_items) %>

  <tr class="total_linha">
    <td colspan="2">Total</td>
    <td class="total_celula"><%= number_to_currency(carrinho.preco_total) %></td>
  </tr>

</table>

<%= button_to t(".finalizar"), new_pedido_path, method: :get %>
<%= button_to t('.esvazie'), carrinho, method: :delete,
      data: { coonfirm: 'Tem certeza ?'} %>
