<div id="banner" class="banner">
	<div id="banner_img">
    <ul>
   	  <li class="1"><%= image_tag("ac_carrosel.png", size: "1000x300") %></li>
      <li class="2"><%= image_tag("cdww_carrosel.png", size: "1000x300") %></li>
      <li class="3"><%= image_tag("grantursimo_carrosel.png", size: "1000x300") %></li>
      <li class="4"><%= image_tag("star_wars_carrosel.png", size: "1000x300") %></li>
    </ul>
  </div>
	<div id="botoes">
		<button data="1"></button>
		<button data="2"></button>
		<button data="3"></button>
		<button data="4"></button>
	</div>
</div>

<h1>PRODUTOS E OFERTAS</h1>

<div id="index">
	<% @produtos.each do |product| %>
		<div class="entry">
			<%= image_tag(product.image_url, size: "180x230") %>
			<h3><%= link_to "#{product.titulo}", product %></h3>
			<div class="price_line">
				<span class="price">R$ <%= number_to_currency(product.preco, unit: "", separator: ",", delimiter: ".") %></span>
			</div>
		</div>
	<% end %>
</div>
