<%= form_for(pedido) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %>
         pedido proibido de ser salvo:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, t('.nome') %>
    <%= form.text_field :nome, id: :pedido_nome %>
  </div>

  <div class="field">
    <%= form.label :endereco, t('.endereco_html') %>
    <%= form.text_area :endereco, id: :pedido_endereco %>
  </div>

  <div class="field">
    <%= form.label :email, t('.email') %>
    <%= form.text_field :email, id: :pedido_email %>
  </div>

  <div class="field">
    <%= form.label :tipo_pagamento, t('.tipo_pagamento') %>
    <%= form.select :tipo_pagamento, Pedido.tipo_pagamentos.keys,
                                            prompt: t('.pagamento_prompt_html') %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>
<% end %>
