<!DOCTYPE html>
<html>
  <head>
    <title>FG Games</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all',
     'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="menu-top">
      <%= link_to image_tag("logo.jpg", size: "180x190"), loja_index_path %>
      <div id="linha1">
        <%= image_tag('fifa18.jpg', size: "150x65") %>
        <ul>
          <li><%= link_to "Home", loja_index_path %></li>
          <li><%= link_to "Novidades" %></li>
          <li><%= link_to "Sobre" %></li>
        </ul>
      </div>
      <div id="linha2">
        <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Buscar") %>
        <% end %>
        <ul>
          <li><%= link_to "Minha conta", "login" %></li>
          <li><%= link_to "Criar conta" , "signup" %></li>
        </ul>
        <%= link_to image_tag("carrinho.jpg", size: "59x48"), carrinhos_path %>
      </div>
      <div id="linha3">
        <ul>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">PS4</a>
            <div class="dropdown-content">
              <h4>PS4 Games</h4>
              <a href="">Todos Jogos</a>
              <a href="">Ação</a>
              <a href="">Luta</a>
              <a href="">Dança</a>
              <a href="">RPG</a>
              <a href="">Tiro</a>
              <a href="">Simulação</a>
              <a href="">Estratégia</a>
              <a href="">Esportes</a>
              <h4>PS4 console</h4>
              <a href="">Consoles</a>
              <h4>PS4 acessórios</h4>
              <a href="">Todos acessórios</a>
              <a href="">Controles</a>
              <a href="">Cabos e adaptadores</a>
              <a href="">Baterias e carregadores</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Xbox One</a>
              <div class="dropdown-content">
                <h4>Xbox One Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Jogos Kinect</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>Xbox One console</h4>
                <a href="">Consoles</a>
                <h4>Xbox One acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Switch</a>
              <div class="dropdown-content">
                <h4>Switch One Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>Switch console</h4>
                <a href="">Consoles</a>
                <h4>Switch acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">PS3</a>
              <div class="dropdown-content">
                <h4>PS3 Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>PS3 console</h4>
                <a href="">Consoles</a>
                <h4>PS3 acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Xbox 360</a>
              <div class="dropdown-content">
                <h4>Xbox 360 Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Jogos Kinect</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>Xbox 360 console</h4>
                <a href="">Consoles</a>
                <h4>Xbox 360 acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Wii U</a>
              <div class="dropdown-content">
                <h4>Wii U Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>Wii U console</h4>
                <a href="">Consoles</a>
                <h4>Wii U acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">PC</a>
              <div class="dropdown-content">
                <h4>PC Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>PC console</h4>
                <a href="">Consoles</a>
                <h4>PC acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">3DS</a>
              <div class="dropdown-content">
                <h4>3DS Games</h4>
                <a href="">Todos Jogos</a>
                <a href="">Ação</a>
                <a href="">Luta</a>
                <a href="">Dança</a>
                <a href="">RPG</a>
                <a href="">Tiro</a>
                <a href="">Simulação</a>
                <a href="">Estratégia</a>
                <a href="">Esportes</a>
                <h4>3DS console</h4>
                <a href="">Consoles</a>
                <h4>3DS acessórios</h4>
                <a href="">Todos acessórios</a>
                <a href="">Controles</a>
                <a href="">Cabos e adaptadores</a>
                <a href="">Baterias e carregadores</a>
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="modelo">
      <%= yield %>
    </div>
    </br>
    <div id="menu-down">
        <%= link_to image_tag("logo.jpg"), loja_index_path %>
        <dl id="d1">
          <dt>Tire suas dúvidas</dt>
          <dd><%= link_to "Quem somos" %></dd>
          <dd><%= link_to "Termos de Uso" %></dd>
          <dd><%= link_to "Política de privacidade" %></dd>
          <dd><%= link_to "FAQ" %></dd>
          <dd><%= link_to "Trabalhe conosco" %></dd>
          <dd><%= link_to "Política de Trocas e devoluções" %></dd>
        </dl>
        <dl id="d2">
          <dt>Formas de pagamento</dt>
          <dd>
            <%= image_tag "ae.jpg" %>
            <%=  image_tag "boleto.jpg" %>
            <%=  image_tag "hyper.jpg" %>
          </dd>
          <dd>
            <%= image_tag "itau.jpg" %>
            <%= image_tag "mastercard.jpg" %>
            <%= image_tag "visa.jpg" %>
          </dd>
        </dl>
        <dl id="d3">
          <dt>Redes Sociais</dt>
          <a href="http://www.facebook.com.br"><%= image_tag "facebook.jpg", size: "40x40" %></a>
          <a href="http://www.google.com.br"><%= image_tag "google.jpg", size: "40x40" %></a>
          <a href="http://www.twitter.com.br"><%= image_tag "twitter.jpg", size: "40x40" %></a>
          <a href="http://www.youtube.com.br"><%= image_tag "youtube.jpg", size: "40x40" %></a>
        </dl>
        <p>Central de Atendimento</p>
        <telephone>19 XXXX-XXXX</telephone>
      </div>
    </body>
</html>
